body {
    margin: 0em 0em;
    background: #2b2b2b;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: white;
    position: relative;
    width: 100%;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    margin-top: 3em;
    left: -30%;
    width: 100%;
    height: 60em;
    opacity: 0.05;
    background-image: url('../../Images/RiceBowl.jpg');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: cover;
}

.topbar {
    background: #3f4a57;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
}

.topbutton{
    color: white;
    background: #3f4a57;
    font-style: normal;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    padding: 0.45em 0;
    transition: 0.3s;

    padding: auto;

    flex-grow: 1; /*distributes the space in the box as long as theres enough space. numbers indicated the size ratio in between each*/
    flex-shrink: 1; /*rate of shrinkage when there isnt enough space. 0 means no shrink*/
    flex-basis: 100px; /*minimum width*/
}

.topbutton:hover{
    background: #536375;
}

.mainbody{
    position: absolute;
    padding: 10em 15% 0 15%;
    width: 70%;
    height: 215em;
}

.project {
    margin-bottom: 10em;
}

.project-name {
    font-size: 3em;
    margin: 0;
}

.date {
    font-size: 1.5em;
    margin-top: 0.5em;
}

.description {
    font-size: 1.25em;
    margin-bottom: 2em;
    line-height: 1.6em;
}

.description li {
    list-style: disc;
    margin-top: 1em;
}

.description .links {
    list-style: none;
    margin-top: 0;
}

.links > a:link, .links > a:visited{
    color: lightblue;
    font-size: 1em;
    text-decoration: underline;
}

.links > a:hover {
    color: lightcyan;
}

#unsavable-screenshot1 {
    float: right;
    width: 40%;
    margin-left: 1em;
    margin-bottom: 1em;
}

#tictactoe-screenshot1 {
    float: right;
    width: 40%;
    margin-left: 1em;
    margin-bottom: 1em;
}

#tictactoe-screenshot2 {
    float: right;
    width: 40%;
    margin-left: 1em;
    margin-bottom: 1em;
}

@media (max-width: 774px) {
    .topbar {
        height: 5em;
    }

    #unsavable-screenshot1 {
        float: none;
        margin-left: 0em;
        margin-bottom: 0em;
        width: 100%;
    }

    #tictactoe-screenshot1 {
        float: none;
        margin-left: 0em;
        margin-bottom: 0em;
        width: 100%;
    }

    #tictactoe-screenshot2 {
        float: none;
        margin-left: 0em;
        margin-bottom: 0em;
        width: 100%;
    }

    .description > ul{
        overflow-wrap: break-word;
        padding-left: 0;
    }

    .mainbody{
        padding: 10em 10%;
        width: 80%;
    }
}

@media (max-width: 425px) {
    .topbutton {
        font-size: 1em;
    }
}

@media (max-width: 375px) {
    .project-name {
        font-size: 2.5em;
    }
}







